# Module requirements
black
flake8<5.0  # some flake8 plugins seem to be currently broken with version 5.0+
flake8-colors
flake8-docstrings
flake8-html
isort
mock
pep8-naming
pyflakes
pytest
pytest-cov
pytest-html
pytest-mock
